<div class="genera-top">
</div>
<div class="genera-new">
    <%= form_for @genera, url: admin_generas_path, method: :post,  class: "form-control" do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :detail %>
        <%= f.text_field :detail, class: "form-control" %>
        <%= f.submit "投稿", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    <% end %>
</div>
<div class="genera-all">
    <% @generas.each do |genera| %>
        <%= genera.name %>属
        <%= genera.detail %>
    <% end %>
</div<